<a routerLink="/h/add-level" mat-button color="primary">Create New</a>
<div *ngIf="levels" class="table-container">
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>actions</th>
          </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="levels.length > 0; else noRecords">
          <tr *ngFor="let level of levels">
                  <td>{{ level.id }}</td>
                  <td>{{ level.name }}</td>

                  <td>

                      <a  class="btn btn-success text-white active" routerLink="/h/edit-level/{{level.id}}">edit</a>
                        <a href="" class="btn btn-danger active"  (click)="deleteLevel(level.id)">Delete</a>


                  </td>
              </tr>
          </ng-container>
          <ng-template #noRecords>
              <tr>
                  <td colspan="4">no records found</td>
              </tr>
          </ng-template>
      </tbody>

  </table>
  <div class="pagination-container">
    <mat-paginator
    [pageSizeOptions]="[6]"
    [pageSize]="pageSize"
    showFirstLastButtons
    [length]="totalItems"
    (page)="ONPageChange($event)"
    id="listing_pagination"
  ></mat-paginator>
  </div>


</div>
