<a routerLink="/h/add-module" mat-button color="primary">Create New</a>
<div *ngIf="modules" class="table-container">
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>actions</th>
          </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="modules.length > 0; else noRecords">
          <tr *ngFor="let module of modules">
                  <td>{{ module.id }}</td>
                  <td>{{ module.name }}</td>

                  <td>

                      <a href="" class="btn btn-info text-white active">show</a>
                      <a  class="btn btn-success text-white active" routerLink="/h/edit-module/{{module.id}}">edit</a>
                        <a href="" class="btn btn-danger active"  (click)="deleteModule(module.id)">Delete</a>


                  </td>
              </tr>
          </ng-container>
          <ng-template #noRecords>
              <tr>
                  <td colspan="4">no records found</td>
              </tr>
          </ng-template>
      </tbody>

  </table>


</div>
