<a routerLink="/h/add-chapter" mat-button color="primary">Create New</a>
<div *ngIf="chapters" class="table-container">
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>actions</th>
          </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="chapters.length > 0; else noRecords">
          <tr *ngFor="let chapter of chapters">
                  <td>{{ chapter.id }}</td>
                  <td>{{ chapter.name }}</td>

                  <td>

                      <a href="" class="btn btn-info text-white active">show</a>
                      <a  class="btn btn-success text-white active" routerLink="/h/edit-chapter/{{chapter.id}}">edit</a>
                        <a href="" class="btn btn-danger active"  (click)="deleteChapter(chapter.id)">Delete</a>


                  </td>
              </tr>
          </ng-container>
          <ng-template #noRecords>
              <tr>
                  <td colspan="4">no records found</td>
              </tr>
          </ng-template>
      </tbody>

  </table>
  <div class="pagination-container">
    <mat-paginator
    [pageSizeOptions]="[6]"

      [pageSize]="pageSize"
      showFirstLastButtons
      [length]="chapters.length"
      (page)="OnPageChange($event)"
      id="listing_pagination"

      
    ></mat-paginator>
  </div>


</div>
