<a routerLink="/h/add-subskill" mat-button color="primary">Create New</a>
<div *ngIf="subskills" class="table-container">
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>actions</th>
          </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="subskills.length > 0; else noRecords">
          <tr *ngFor="let subskill of subskills">
                  <td>{{ subskill.id }}</td>
                  <td>{{ subskill.name }}</td>

                  <td>

                      <a  class="btn btn-success text-white active" routerLink="/h/edit-subskill/{{subskill.id}}">edit</a>
                        <a href="" class="btn btn-danger active"  (click)="deleteSubskill(subskill.id)">Delete</a>


                  </td>
              </tr>
          </ng-container>
          <ng-template #noRecords>
              <tr>
                  <td colspan="4">no records found</td>
              </tr>
          </ng-template>
      </tbody>

  </table>
  <div class="pagination-container">
    <mat-paginator
    [pageSizeOptions]="[6]"
    [pageSize]="pageSize"
    showFirstLastButtons
    [length]="totalItems"
    (page)="ONpagechange($event)"
    id="listing_pagination"
  ></mat-paginator>
  </div>


</div>
